<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(226, 206, 206);
        }
        .para
        {
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <h1 style="color: rgb(90, 54, 54);">Welcome to our Home Page</h1>
    <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident officiis at quod omnis accusantium beatae mollitia deleniti alias? Rem, recusandae labore placeat cumque minima quae illo. Necessitatibus at quod deserunt?Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia fugiat ut saepe inventore iste itaque vitae quas rem, quos assumenda, repellat fuga distinctio sint. Consequuntur ad veniam perferendis deserunt ullam!</p>


</body>
</html>